# 5. UCI-SECOM(Í≤∞Ï∏°Í∞í 50% Ï†úÍ±∞/Ïò§Î≤ÑÏÉòÌîåÎßÅ X/Î°úÏßÄÏä§Ìã± ÌöåÍ∑Ä)

### üìå Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Í≥ºÏ†ï
- Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ : Null Í∞íÏùò ÎπÑÏú®Ïù¥ 50%Í∞Ä ÎÑòÎäî ÏπºÎüºÏùÄ ÏÇ≠Ï†úÌïòÍ≥† ÎÇ®ÏùÄ Í≤∞Ï∏°Í∞íÏùÄ Ïïû ÎòêÎäî Îí§ Í∞íÏùÑ Í∞ÄÏ†∏Ïò¥
- Ïä§ÏºÄÏùºÎßÅ: StandardScaler, PCA
- Î™®Îç∏ÎßÅ : Logistic Regression
- ÍµêÏ∞® Í≤ÄÏ¶ù : cross_val_score
- ÌèâÍ∞Ä : confusion matrix, accuracy score, recall score, F1_score

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
import warnings
warnings.simplefilter("ignore")  #ÌååÏù¥Ïç¨ Í≤ΩÍ≥† ÏñµÏ†ú

In [2]:
dataset = pd.read_csv("uci-secom.csv") # Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

In [3]:
dataset.head()  #Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

,Time,0,1,2,3,4,5,6,7,8,...,581,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1
2,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,...,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1
3,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,...,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1
4,2008-07-19 15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,...,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1

In [4]:
dataset.isnull().any().any()  #Null Í∞í Ï°¥Ïû¨ Ïó¨Î∂Ä ÌôïÏù∏

True

## 1. Data Processing

### 1.1 Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨

In [5]:
def null_values(dataset):
    nv=pd.concat([dataset.isnull().sum(), 100 * dataset.isnull().sum()/dataset.shape[0]],axis=1).rename(columns={0:'Missing_Records', 1:'Percentage (%)'})
    return nv[nv.Missing_Records>0].sort_values('Missing_Records', ascending=False)

In [6]:
dataset_na = null_values(dataset)
dataset_na

     Missing_Records  Percentage (%)
292             1429       91.193363
293             1429       91.193363
157             1429       91.193363
158             1429       91.193363
358             1341       85.577537
..               ...             ...
456                1        0.063816
218                1        0.063816
356                1        0.063816
457                1        0.063816
589                1        0.063816

[538 rows x 2 columns]

In [7]:
dataset_na = dataset_na[dataset_na["Percentage (%)"] > 50]
dataset_na

     Missing_Records  Percentage (%)
292             1429       91.193363
293             1429       91.193363
157             1429       91.193363
158             1429       91.193363
358             1341       85.577537
85              1341       85.577537
492             1341       85.577537
220             1341       85.577537
518             1018       64.964901
246             1018       64.964901
245             1018       64.964901
516             1018       64.964901
517             1018       64.964901
110             1018       64.964901
384             1018       64.964901
382             1018       64.964901
383             1018       64.964901
109             1018       64.964901
244             1018       64.964901
111             1018       64.964901
580              949       60.561583
578              949       60.561583
581              949       60.561583
579              949       60.561583
73               794       50.670070
72               794       50.670070
345              794       50.670070
346              794       50.670070

In [8]:
dataset_na.shape

(28, 2)

In [9]:
dataset_na.index

Index(['292', '293', '157', '158', '358', '85', '492', '220', '518', '246',
       '245', '516', '517', '110', '384', '382', '383', '109', '244', '111',
       '580', '578', '581', '579', '73', '72', '345', '346'],
      dtype='object')

In [10]:
dataset = dataset.drop(axis=1, columns=dataset_na.index)
dataset.shape

(1567, 564)

In [11]:
dataset.head()

,Time,0,1,2,3,4,5,6,7,8,...,577,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,14.9509,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,10.9003,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1
2,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,...,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1
3,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,...,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1
4,2008-07-19 15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,...,10.9698,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1

In [12]:
dataset.fillna(method='ffill', inplace=True)
dataset.fillna(method='bfill', inplace=True)
dataset

,Time,0,1,2,3,4,5,6,7,8,...,577,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,14.9509,0.5005,0.0118,0.0035,2.3630,0.0096,0.0201,0.0060,208.2045,-1
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,10.9003,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1
2,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,...,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1
3,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,...,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1
4,2008-07-19 15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,...,10.9698,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2008-10-16 15:13:00,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,...,11.7256,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720,-1
1563,2008-10-16 20:49:00,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,...,17.8379,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720,-1
1564,2008-10-17 05:26:00,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,1.4333,...,17.7267,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231,-1
1565,2008-10-17 06:01:00,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,...,19.2104,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941,-1
1566,2008-10-17 06:07:00,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,1.4622,...,22.9183,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844,-1

In [13]:
null_values(dataset)

Empty DataFrame
Columns: [Missing_Records, Percentage (%)]
Index: []

In [14]:
dataset.shape

(1567, 564)

In [15]:
# nunique() Ìï®ÏàòÎ•º Ïç®ÏÑú 5Ïó¥Ïùò Í≥†Ïú†Ïπò Í∞úÏàòÎ•º ÌôïÏù∏
dataset["5"].nunique()

1

In [16]:
# Column '5'ÏôÄ Í∞ôÏù¥ Í≥†Ïú†Í∞íÏù¥ 1Í∞úÏù∏ Ïó¥ÏùÑ Ï†ÄÏû•ÌïòÎäî unique_columnsÌï®Ïàò ÏÉùÏÑ±
def unique_columns(df):
    uni_col_list = []
    for column in df.columns:
        if df[column].nunique() == 1:
            uni_col_list.append(column)
    return uni_col_list

In [17]:
# Í≥†Ïú†Ïπò Í∞úÏàòÍ∞Ä 1Í∞úÏù∏ Ïó¥Ïùò Í∞úÏàò ÌôïÏù∏
len(unique_columns(dataset))

116

In [18]:
dataset.shape

(1567, 564)

In [19]:
dataset = dataset.drop(axis=1, columns=unique_columns(dataset))
dataset.shape

(1567, 448)

### 1.2 Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨

In [20]:
X = dataset.drop(['Pass/Fail','Time'],axis=1)  #TimeÍ≥º Pass/Fail ÏπºÎüº ÏÇ≠Ï†úÌïú Í∞í XÏóê Ï†ÄÏû•
y = dataset['Pass/Fail']  #Pass/Fail ÏπºÎüºÎßå yÏóê Ï†ÄÏû•

print("shape of x:", X.shape)
print("shape of y:", y.shape)

shape of x: (1567, 446)
shape of y: (1567,)

In [21]:
X.head()

,0,1,2,3,4,6,7,8,9,10,...,576,577,582,583,584,585,586,587,588,589
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,97.6133,0.1242,1.5005,0.0162,-0.0034,...,1.6765,14.9509,0.5005,0.0118,0.0035,2.3630,0.0096,0.0201,0.0060,208.2045
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,102.3433,0.1247,1.4966,-0.0005,-0.0148,...,1.1065,10.9003,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,95.4878,0.1241,1.4436,0.0041,0.0013,...,2.0952,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,104.2367,0.1217,1.4882,-0.0124,-0.0033,...,1.7585,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.3967,0.1235,1.5031,-0.0031,-0.0072,...,1.6597,10.9698,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1096, 446)
(1096,)
(471, 446)
(471,)

### 1.3 Îç∞Ïù¥ÌÑ∞ Ïä§ÏºÄÏùºÎßÅ

In [24]:
print('X_trainÏùò ÌèâÍ∑†Í∞í ')
print(X_train.mean())

print('\nX_trainÏùò Î∂ÑÏÇ∞Í∞í')
print(X_train.var())

X_trainÏùò ÌèâÍ∑†Í∞í
0      3014.985757
1      2496.266341
2      2200.700479
3      1396.309987
4         4.388848
          ...
585       3.033240
586       0.021591
587       0.016588
588       0.005335
589     101.419564
Length: 446, dtype: float64

X_trainÏùò Î∂ÑÏÇ∞Í∞í
0        5253.482351
1        6276.265861
2         863.097007
3      190937.548184
4        3376.135964
           ...
585         9.510624
586         0.000156
587         0.000086
588         0.000009
589      9384.227474
Length: 446, dtype: float64

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
#StandardScaler Í∞ùÏ≤¥ ÏÉùÏÑ±
sc = StandardScaler()

#StandScalerÎ°ú Îç∞Ïù¥ÌÑ∞ ÏÑ∏Ìä∏ Î≥ÄÌôò
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

X_sc = sc.fit_transform(X)

In [27]:
X_sc_pd = pd.DataFrame(X_sc)
X_sc_pd.head()  #ÌëúÏ§ÄÌôîÎêú Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

,0,1,2,3,4,5,6,7,8,9,...,436,437,438,439,440,441,442,443,444,445
0,0.225661,0.848549,-0.438248,0.030352,-0.050141,-0.553885,0.265085,0.510062,1.128800,-0.380965,...,-0.229797,-0.135520,0.117015,-0.204837,-0.093217,-0.197053,-0.959280,0.411568,0.249960,1.155458
1,1.106653,-0.382768,1.010742,0.149398,-0.059605,0.200866,0.321051,0.457237,0.023070,-1.607223,...,-0.263493,-0.460054,0.527813,0.406731,0.444697,0.385118,-0.959280,0.411568,0.249960,1.155458
2,-1.110023,0.797981,-0.483128,0.680468,-0.047466,-0.893044,0.253892,-0.260632,0.327643,0.124597,...,-0.205046,-0.590505,-1.262092,0.022317,0.014366,0.029892,2.990884,3.626604,3.321193,-0.179810
3,-0.347765,-0.198930,-0.054692,-1.105709,-0.050851,0.502989,-0.014743,0.343462,-0.764845,-0.370208,...,-0.224950,-0.645708,-0.323126,-0.292204,-0.362173,-0.283356,-0.101252,-0.179181,-0.308446,-0.275866
4,0.243458,0.087165,1.110687,-0.161373,-0.047053,-0.109747,0.186733,0.545278,-0.149079,-0.789718,...,-0.230791,-0.454486,-5.898239,26.867225,27.071414,26.913331,-0.101252,-0.179181,-0.308446,-0.275866

In [28]:
#DataFrame ÌòïÌÉúÎ°ú Î≥ÄÍ≤Ω
X_train_sc_pd = pd.DataFrame(X_train_sc)
X_test_sc_pd = pd.DataFrame(X_test_sc)

In [29]:
print('X_train_scÏùò ÌèâÍ∑†Í∞í ')
print(X_train_sc_pd.mean())

print('\nX_train_scÏùò Î∂ÑÏÇ∞Í∞í')
print(X_train_sc_pd.var())

X_train_scÏùò ÌèâÍ∑†Í∞í
0     -6.111292e-15
1     -1.675059e-15
2      8.714846e-15
3     -1.537699e-16
4      1.948715e-17
           ...
441   -5.358649e-17
442   -1.492369e-16
443    1.967202e-16
444   -1.547829e-16
445    3.646718e-18
Length: 446, dtype: float64

X_train_scÏùò Î∂ÑÏÇ∞Í∞í
0      1.000913
1      1.000913
2      1.000913
3      1.000913
4      1.000913
         ...
441    1.000913
442    1.000913
443    1.000913
444    1.000913
445    1.000913
Length: 446, dtype: float64

In [30]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
pca = PCA(n_components=0.85)
X_sc_pca = pca.fit_transform(X_sc)

X_sc_pca_pd = pd.DataFrame(data = X_sc_pca)

In [32]:
print('Variance of each component:', pca.explained_variance_ratio_)
print('\nTotal features:', pca.n_components_)
print('Total Variance Explained:', round(sum(list(pca.explained_variance_ratio_))*100, 2))

Variance of each component: [0.05726804 0.03859757 0.03002679 0.0270121  0.02196476 0.02083755
 0.01928865 0.01892683 0.01716777 0.0153982  0.01401313 0.01377929
 0.01337192 0.01328478 0.0124235  0.01207854 0.01187445 0.01157255
 0.0110308  0.01080075 0.01050347 0.01033739 0.00997918 0.00993212
 0.00980601 0.00961275 0.0091252  0.00901432 0.00883204 0.00866687
 0.00856074 0.00830004 0.00823496 0.0080339  0.00800045 0.00785472
 0.00760143 0.0073722  0.00730281 0.00719956 0.0070998  0.00703304
 0.00697415 0.00682746 0.00668474 0.00653436 0.00639738 0.00631444
 0.00624758 0.00616374 0.00603082 0.00592221 0.00589678 0.00582668
 0.00572479 0.00564148 0.00552481 0.00548797 0.00536315 0.00526129
 0.00516335 0.00507664 0.00503516 0.00498574 0.00495172 0.0048019
 0.00475254 0.00463934 0.00455502 0.00450548 0.00449196 0.00436054
 0.004318   0.00423601 0.00402741 0.00397641 0.00390984 0.00379709
 0.00377387 0.0036186  0.00355206 0.0035064  0.00343993 0.00336444
 0.0033442  0.00329396 0.00325934 0.00316763 0.00307109 0.00302641
 0.00298631 0.00294638 0.00289963 0.00283323 0.00278962 0.00277944
 0.0027257  0.00269657 0.00261497 0.00260308 0.00256705 0.00253483
 0.00249132 0.00248271 0.0024011 ]

Total features: 105
Total Variance Explained: 85.03

In [33]:
X_train_sc_pca = pca.transform(X_train_sc)
X_test_sc_pca = pca.transform(X_test_sc)

In [34]:
X_sc_pca_pd

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,101,102,103,104
0,-1.782791,3.310516,3.932738,-2.499307,-1.523197,-1.325046,1.879771,0.348805,2.077824,1.688163,...,-0.879597,-1.597523,0.103828,-0.775828,-0.188024,0.984490,-0.122749,-0.026944,-0.444697,0.163044
1,-2.308054,1.127098,2.994238,-2.072917,-2.104424,-1.650421,1.854886,-1.661375,3.127837,0.957623,...,-0.874492,-1.750679,-0.992883,1.980152,-0.227913,-0.299410,-0.026762,0.457744,1.120423,0.704828
2,0.084345,1.016602,1.395086,-0.416968,1.894827,-1.969401,1.264174,-0.475057,2.324017,0.500682,...,-0.277269,-0.677653,1.681806,0.869927,-0.293659,1.111161,-0.771199,1.257127,-2.804366,0.638406
3,1.142221,5.022797,4.462427,-3.882784,1.539173,-7.398277,-5.624882,9.407509,6.522849,4.848480,...,0.370177,-0.625577,0.469737,-0.075763,0.832901,0.824972,1.223726,-1.220631,1.805943,0.452387
4,0.824743,2.331620,2.492553,-0.096323,3.662749,-4.893456,-1.780137,3.173356,-1.354895,2.461963,...,0.426510,0.579608,1.989791,-1.076240,-2.225584,0.512941,0.188578,-0.917982,0.716724,2.342091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,-1.076417,-3.981591,-2.990087,5.915839,1.957389,-1.115185,-0.472458,0.502001,1.632937,-0.679923,...,-1.123765,-1.406492,1.385098,-0.660136,0.131356,-0.369535,0.458754,-0.622539,0.618022,-2.195900
1563,-0.421181,0.492293,2.299712,-0.093414,1.140234,-1.832707,5.108660,-2.873185,1.805468,1.061318,...,-1.905081,-1.045418,0.353778,-1.757976,0.724189,0.637349,1.433791,-0.479098,1.108009,-0.208709
1564,-1.271202,-1.425527,-0.821447,2.135336,-2.205088,-0.031404,-0.475627,-1.028669,0.295908,0.323200,...,-0.106197,-0.751618,1.364894,-0.855894,-0.293999,0.443955,-0.042150,-1.223821,1.079353,0.434340
1565,-1.143090,-3.449855,-3.811150,3.200253,2.870841,-2.575377,0.872113,1.060514,0.951481,-2.345769,...,-0.346007,0.257588,1.723857,-0.286277,-0.166879,1.788604,-0.555770,-0.530852,-0.850115,-0.712494
1566,2.134088,-3.609037,-3.881367,3.413379,3.987042,-2.572706,-2.135785,3.804768,0.938189,-1.380272,...,-0.392736,0.680514,0.217549,-1.072858,0.459051,0.396739,-0.102433,-0.867775,0.378022,-0.605089

In [35]:
X_sc_pca_pd.describe()

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,101,102,103,104
count,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,...,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03,1.567000e+03
mean,4.602431e-16,1.643725e-15,-9.777331e-17,2.491094e-16,2.196357e-16,-6.489881e-16,-8.785428e-18,-6.659921e-17,-2.078037e-16,-7.396763e-17,...,1.282389e-17,3.967613e-17,-3.907390e-17,-1.643725e-17,-2.713564e-17,-7.627027e-17,1.689778e-17,-1.551620e-17,-2.890689e-17,5.590083e-17
std,5.055478e+00,4.150362e+00,3.660669e+00,3.472044e+00,3.130901e+00,3.049505e+00,2.933979e+00,2.906331e+00,2.767981e+00,2.621447e+00,...,1.113742e+00,1.102922e+00,1.097014e+00,1.080287e+00,1.077829e+00,1.070343e+00,1.063605e+00,1.054437e+00,1.052615e+00,1.035170e+00
min,-4.582030e+00,-8.400412e+00,-1.754912e+01,-1.079304e+01,-4.600558e+01,-1.165800e+01,-2.667949e+01,-3.773539e+01,-1.408771e+01,-1.605459e+01,...,-6.273765e+00,-3.683675e+00,-4.793863e+00,-3.638962e+00,-4.557697e+00,-3.677055e+00,-4.667348e+00,-4.046119e+00,-5.381531e+00,-3.570671e+00
25%,-1.183271e+00,-2.160019e+00,-1.694276e+00,-2.042725e+00,-1.796600e+00,-1.738253e+00,-1.305998e+00,-1.562594e+00,-1.793273e+00,-1.262513e+00,...,-6.809744e-01,-7.051724e-01,-7.234107e-01,-7.669103e-01,-6.884115e-01,-6.964983e-01,-6.574561e-01,-7.387902e-01,-6.610164e-01,-6.712793e-01
50%,-4.641254e-01,-6.394576e-01,-1.433646e-01,-1.350749e-01,2.325896e-02,3.396328e-02,1.817918e-01,-1.519961e-01,-5.636912e-02,-1.106314e-01,...,-2.034984e-02,-1.000699e-02,-1.044508e-02,4.221591e-03,-6.412952e-03,-1.667646e-02,1.082921e-02,-1.501405e-02,-1.280110e-02,6.122087e-02
75%,4.726549e-01,1.152886e+00,1.814965e+00,1.856308e+00,1.757138e+00,1.575311e+00,1.522023e+00,1.439886e+00,1.801530e+00,1.072877e+00,...,6.744316e-01,7.098217e-01,6.990741e-01,7.103770e-01,6.540122e-01,7.011472e-01,6.530630e-01,7.231406e-01,6.544552e-01,6.762651e-01
max,1.041173e+02,3.220186e+01,9.973046e+01,9.185720e+01,5.877679e+01,7.268510e+01,5.086949e+01,5.006345e+01,1.888549e+01,4.354671e+01,...,8.305547e+00,5.643938e+00,5.829439e+00,4.508657e+00,5.871356e+00,4.999072e+00,4.747863e+00,5.075104e+00,5.585031e+00,3.735398e+00

## 2. Data Modeling

In [36]:
from sklearn.model_selection import cross_val_predict, cross_val_score, cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score, roc_auc_score, precision_score, recall_score, f1_score

### 2.1 ÍµêÏ∞®Í≤ÄÏ¶ù

In [37]:
classifier = LogisticRegression(random_state=10)

score = cross_val_score(classifier, X_train_sc_pca, y_train, cv=10, n_jobs=-1, scoring='accuracy')

In [38]:
print('ÍµêÏ∞® Í≤ÄÏ¶ùÎ≥Ñ Ï†ïÌôïÎèÑ : ', np.round(score,4))
print('ÌèâÍ∑† Í≤ÄÏ¶ù Ï†ïÌôïÎèÑ : ', np.round(np.mean(score),4))

ÍµêÏ∞® Í≤ÄÏ¶ùÎ≥Ñ Ï†ïÌôïÎèÑ :  [0.8909 0.9    0.9182 0.9182 0.9182 0.8909 0.8899 0.8899 0.9083 0.9083]
ÌèâÍ∑† Í≤ÄÏ¶ù Ï†ïÌôïÎèÑ :  0.9033

### 2.2 ÌèâÍ∞ÄÏßÄÌëú

In [39]:
lr_clf = LogisticRegression()
lr_clf.fit(X_train_sc_pca, y_train)
lr_preds = lr_clf.predict(X_test_sc_pca)

In [40]:
print('confusion_matrix\n', confusion_matrix(lr_preds, y_test))
print('accuracy score : ', accuracy_score(lr_preds, y_test))
print('f1_score : ', f1_score(y_test,lr_preds))
print('recall_score : ', recall_score(lr_preds, y_test))
print('precision_score : ',precision_score(y_test,lr_preds))
print('roc_auc_score : ',roc_auc_score(y_test,lr_preds))

confusion_matrix
 [[426  28]
 [ 13   4]]
accuracy score :  0.9129511677282378
f1_score :  0.16326530612244897
recall_score :  0.23529411764705882
precision_score :  0.23529411764705882
roc_auc_score :  0.5476936218678816

### 2.3 ÌïòÏù¥Ìçº ÌååÎùºÎØ∏ÌÑ∞

In [41]:
from sklearn.model_selection import GridSearchCV

In [42]:
params = {'penalty':['l2','l1'], 'C':[0.01,0.1,1,1,5,10]}

In [43]:
grid_clf = GridSearchCV(lr_clf, param_grid=params, scoring='accuracy', cv=10)
grid_clf.fit(X_train_sc_pca, y_train)

print('ÏµúÏ†ÅÏùò ÌïòÏù¥Ìçº ÌååÎùºÎØ∏ÌÑ∞:{0}, ÏµúÏ†ÅÏùò ÌèâÍ∑† Ï†ïÌôïÎèÑ:{1:.3f}'.format(grid_clf.best_params_, grid_clf.best_score_))

ÏµúÏ†ÅÏùò ÌïòÏù¥Ìçº ÌååÎùºÎØ∏ÌÑ∞:{'C': 0.01, 'penalty': 'l2'}, ÏµúÏ†ÅÏùò ÌèâÍ∑† Ï†ïÌôïÎèÑ:0.930